<div class="text-center">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/images/risen-wang-20jX9b35r_M-unsplash.jpg" alt="Book a session" />
        <div class="card-body">
            <h5 class="card-title">View Sessions</h5>
            <p class="card-text">You can view member sessions</p>
            <a asp-action="ViewSessions" asp-controller="Admin">View Now</a>
        </div>
    </div>
</div>