@model WorkoutGym.Models.UserRegistrationModel

<h1>Register</h1>
<div class="row">
    <div class="col-sm-8">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3 row">
                <label asp-for="FirstName" class="col-sm-3 col-form-label">First Name</label>
                <div class="col-sm-5">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="LastName" class="col-sm-3 col-form-label">Last Name</label>
                <div class="col-sm-5">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Email" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-5">
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Password" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-5">
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="ConfirmPassword" class="col-sm-3 col-form-label">Confirm Password</label>
                <div class="col-sm-5">
                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary col-sm-4">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
